<div class="row">
    <div class="span3">
      <div class="well">
      	<b>Nota Média:</b>
      	<span class="label">
			     <%=@restaurante.qualificacoes.average(:nota) %>
		    </span>
      </div>
    </div>

    <div class="span3">
      <div class="well">
      	<b>Qualificações:</b>
        <span class="label">
        <%=@restaurante.qualificacoes.count %>
        </span>
      </div>  
    </div>

    <div class="span3">
      <div class="well">
      	 <b>Preço médio:</b>
          <span class="label">
            <%=  valor_formatado(@restaurante.qualificacoes.average(:valor_gasto)) %>
          </span>
      </div>
    </div>

</div>