<%- model_class = Restaurante -%>
<div class="page-header">
  <h1>Lista de Restaurantes <%= link_to 'Novo restaurante', new_restaurante_path, :class => 'btn btn-primary' %></h1>

  <%=  "Não há restaurantes cadastrados " if @restaurantes.empty? %>

</div>
<table class="table table-striped">  
  <tbody>
    <% @restaurantes.each do |restaurante| %>
      <tr>
        <td><%= link_to restaurante.nome, restaurante_path(restaurante) %></td>    
      </tr>
    <% end %>
  </tbody>
</table>

<%=paginate @restaurantes %>
