<%- model_class = Qualificacao -%>
<div class="page-header">
  <h1>Lista de Qualificações <%= link_to 'Nova qualificação', new_qualificacao_path, :class => 'btn btn-primary' %></h1>
</div>
<table class="table table-striped">
  <tbody>
    <% @qualificacoes.each do |qualificacao| %>
      <tr>
        <td><%= link_to "#{qualificacao.cliente.nome} qualificou o restaurante #{qualificacao.restaurante.nome}", qualificacao_path(qualificacao) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%=paginate @qualificacoes %>
